.preset {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px black solid;
  padding-bottom: 10px;
  gap: 50px;
  font-size: 20px;
  font-weight: 400;
}

.preset ul {
  display: flex;
  flex-flow: row wrap;
  gap: 5px 45px;
}

.preset li {
  list-style: none;
  position: relative;
  transition: color 0.2s;

  &:hover .preset-window {
    opacity: 1;
    pointer-events: all;
  }

  &:hover img {
    transform: rotate(180deg);
  }

  &:hover .element-container span {
    color: #3c7cc6;
  }
}

.preset a {
  text-decoration: none;
}

.preset img {
  height: 10px;
  transition: transform 0.4s;
}

.preset .element-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: center;
}

.preset h2 {
  align-self: flex-end;
  margin-bottom: -5px;
}

.preset-window {
  height: 137px;
  width: 160px;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 10px 14px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1.5px black solid;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.preset-window div:first-of-type {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.6);
  margin-bottom: 10px;
  align-items: center;
}

.preset-window .number {
  background-color: #3c7cc6;
  border-radius: 16px;
  padding: 2px 6.5px;
  color: white;
  font-size: 10px;
}

.preset-window .span-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
