.verb-box {
  width: 100%;
  background-color: #b3d5fd;
  border-radius: 6px;
  color: #5477a1;
  padding: 16px 30px 16px 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.verb-box span {
  text-align: center;
  justify-content: right;
}

.verb-box img {
  height: 18px;
}

.verbs-container {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}
