$grid-gutter-width: 20px;
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 100%,
);

@import "bootstrap/scss/bootstrap-grid";
@import "base";
@import "layout";
@import "modules/blank";
@import "modules/top-nav-button";
@import "modules/challenge-choice";
@import "modules/heading";
@import "modules/preset";
@import "modules/section-heading";
@import "modules/textfield";
@import "modules/verb-box";
@import "modules/subsection-title";
@import "modules/verb-selection";
@import "modules/select-number";
@import "modules/type-button";
@import "modules/save-challenge";
@import "modules/print-settings";
@import "modules/footer";
